#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #27aae0;
}
#menu-0 .mbr-navbar__section {
  background: #27aae0;
}
#header1-1 H1 {
  color: #ffffff;
}
#header1-1 P {
  color: #ffffff;
}
#slider-3 H1 {
  font-size: 48px;
  text-align: center;
}
#slider-3 P {
  font-size: 24px;
  text-align: center;
}
#ext_menu-4 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-4.mbr-navbar--stuck .mbr-navbar__section {
  background: #27aae0;
}
#ext_menu-4 .mbr-navbar__section {
  background: #27aae0;
}
#form1-14 .mbr-header__text {
  color: #ffffff;
}
#social-buttons1-8 .mbr-header__text {
  color: #ffffff;
}
#ext_menu-4 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-4.mbr-navbar--stuck .mbr-navbar__section {
  background: #27aae0;
}
#ext_menu-4 .mbr-navbar__section {
  background: #27aae0;
}
